@model Uppgift2BankApp.ViewModels.AdminEditCustomerViewModel

@{
    ViewData["Title"] = "Redigera kund";
}

<div class="page-content">
    <div class="page-header">
        <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">@ViewData["Title"]</h2>
        </div>
    </div>

    <section>
        <div class="container-fluid">
            <form method="post" asp-controller="Admin" asp-action="EditCustomer">
                <input type="hidden" asp-for="CustomerId" />

                <div class="form-group">
                    <label class="form-control-label" asp-for="Givenname">Förnamn</label>
                    <input class="form-control" asp-for="Givenname">
                    <span asp-validation-for="Givenname" class="text-danger validation-summary-errors"></span>
                </div>

                <div class="form-group">
                    <label class="form-control-label" asp-for="Surname">Efternamn</label>
                    <input class="form-control" asp-for="Surname">
                    <span asp-validation-for="Surname" class="text-danger validation-summary-errors"></span>
                </div>

                <div class="form-group">
                    <label class="form-control-label" asp-for="Gender">Kön</label>
                    <input class="form-control" asp-for="Gender">
                    <span asp-validation-for="Gender" class="text-danger validation-summary-errors"></span>
                </div>

                <div class="form-group">
                    <label class="form-control-label" asp-for="Streetaddress">Gata</label>
                    <input class="form-control" asp-for="Streetaddress">
                    <span asp-validation-for="Streetaddress" class="text-danger validation-summary-errors"></span>
                </div>
                <div class="form-group">
                    <label class="form-control-label" asp-for="Zipcode">Postnr</label>
                    <input class="form-control" asp-for="Zipcode">
                    <span asp-validation-for="Zipcode" class="text-danger validation-summary-errors"></span>
                </div>
                <div class="form-group">
                    <label class="form-control-label" asp-for="City">Ort</label>
                    <input class="form-control" asp-for="City">
                    <span asp-validation-for="City" class="text-danger validation-summary-errors"></span>
                </div>
                <div class="form-group">
                    <label class="form-control-label" asp-for="Country">Land</label>
                    <input class="form-control" asp-for="Country">
                    <span asp-validation-for="Country" class="text-danger validation-summary-errors"></span>
                </div>
                <div class="form-group">
                    <label class="form-control-label" asp-for="CountryCode">Landskod</label>
                    <input class="form-control" asp-for="CountryCode">
                    <span asp-validation-for="CountryCode" class="text-danger validation-summary-errors"></span>
                </div>
                <div class="form-group">
                    <label class="form-control-label" asp-for="Birthday">Födelsedatum</label>
                    <input class="form-control" asp-for="Birthday">
                    <span asp-validation-for="Birthday" class="text-danger validation-summary-errors"></span>
                </div>
                <div class="form-group">
                    <label class="form-control-label" asp-for="NationalId">Personnr</label>
                    <input class="form-control" asp-for="NationalId">
                    <span asp-validation-for="NationalId" class="text-danger validation-summary-errors"></span>
                </div>
                <div class="form-group">
                    <label class="form-control-label" asp-for="Telephonecountrycode">Landskod tel</label>
                    <input class="form-control" asp-for="Telephonecountrycode">
                    <span asp-validation-for="Telephonecountrycode" class="text-danger validation-summary-errors"></span>
                </div>
                <div class="form-group">
                    <label class="form-control-label" asp-for="Telephonenumber">Tel</label>
                    <input class="form-control" asp-for="Telephonenumber">
                    <span asp-validation-for="Telephonenumber" class="text-danger validation-summary-errors"></span>
                </div>
                <div class="form-group">
                    <label class="form-control-label" asp-for="Emailaddress">Epost</label>
                    <input class="form-control" asp-for="Emailaddress">
                    <span asp-validation-for="Emailaddress" class="text-danger validation-summary-errors"></span>
                </div>
                <button type="submit" class="btn btn-primary">Spara</button>
            </form>
        </div>
    </section>
</div>