@using Microsoft.AspNetCore.Identity
@{
    string activeController = "";
    if (ViewContext.RouteData.Values["Controller"] != null)
    {
        activeController = ViewContext.RouteData.Values["Controller"].ToString();
    }
}
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] Bankadmin</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="~/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Custom Font Icons CSS-->
    <link rel="stylesheet" href="~/css/font.css">
    <!-- Google fonts - Muli-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="~/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="~/css/custom.css">
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<body>
    <header class="header">
        <nav class="navbar navbar-expand-lg">
            <div class="search-panel">
                <div class="search-inner d-flex align-items-center justify-content-center">
                    <div class="close-btn">Stäng <i class="fa fa-close"></i></div>
                    <form id="searchForm" method="get" asp-controller="Customer" asp-action="Info">
                        <div class="form-group">
                            <input type="search" name="id" placeholder="Ange kundnr...">
                            <button type="submit" class="submit">Sök</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="container-fluid d-flex align-items-center justify-content-between">
                <div class="navbar-header">
                    <!-- Navbar Header-->
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <div class="brand-text brand-big visible text-uppercase"><strong class="text-primary">Bank</strong><strong>Admin</strong></div>
                        <div class="brand-text brand-sm"><strong class="text-primary">B</strong><strong>A</strong></div>
                    </a>
                    <!-- Sidebar Toggle Btn-->
                    <button class="sidebar-toggle"><i class="fa fa-long-arrow-left"></i></button>
                </div>
                <div class="right-menu list-inline no-margin-bottom">
                    <div class="list-inline-item"><a href="#" class="search-open nav-link"><i class="icon-magnifying-glass-browser"></i></a></div>

                    @if (SignInManager.IsSignedIn(User))
                    {
                        <div class="list-inline-item">
                            @User.Identity.Name
                        </div>
                    }
                </div>

            </div>
        </nav>
    </header>
    <div class="d-flex align-items-stretch">
        <!-- Sidebar Navigation-->
        <nav id="sidebar">
            <!-- Sidebar Navigation Menus-->
            <span class="heading" style="padding: 20px 15px;">Main</span>
            <ul class="list-unstyled">
                <li class="text-muted@(activeController == "Home" ? " active" : "")"><a asp-controller="Home" asp-action="Index"> <i class="icon-home"></i>Hem </a></li>
                @if (User.IsInRole("Admin") || User.IsInRole("Cashier")){
                    <li class="text-muted@(activeController == "Admin" ? " active" : "")"><a asp-controller="Admin" asp-action="Index"> <i class="fa fa-bar-chart"></i>Admin</a></li>
                }
                <li class="text-muted@(activeController == "Customer" ? " active" : "")"><a asp-controller="Customer" asp-action="Index"> <i class="fa fa-bar-chart"></i>Kundindex</a></li>
            </ul>
            <partial name="_LoginPartial"/>
        </nav>
        <!-- Sidebar Navigation end-->
        
        @RenderBody()

        
        <footer class="footer">
            <div class="footer__block block no-margin-bottom">
                <div class="container-fluid text-center">
                    <!-- Please do not remove the backlink to us unless you support us at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                    <p class="no-margin-bottom">2021 &copy; Patrik Samuelsson. Design by <a href="https://bootstrapious.com/p/bootstrap-4-dark-admin">Bootstrapious</a>.</p>
                </div>
            </div>
        </footer>
    </div>

<!-- JavaScript files-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/jquery.cookie/jquery.cookie.js"></script>
    <script src="~/vendor/chart.js/Chart.min.js"></script>
    <script src="~/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/js/charts-home.js"></script>
    <script src="~/js/front.js"></script>
    <script src="~/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/vendor/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>