@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="list-unstyled">
    @if (SignInManager.IsSignedIn(User))
    {
        <li>
            <a asp-area="Identity" asp-page="/Account/Manage/Index" class="text-muted">
                <i class="icon-windows"></i>
                <span>My account</span>
            </a>
            <a asp-controller="Home" asp-action="Logout" class="text-muted"><i class="icon-windows"></i><span>Logout</span></a>
        </li> }
    else
    {
        <li>
            <a asp-area="Identity" asp-page="/Account/Login" class="text-muted">
                <i class="icon-windows"></i>
                <span>Login</span>
            </a>
        </li>
        <li class="sidebar-list-item">
            <a asp-area="Identity" asp-page="/Account/Register" class="text-muted">
                <i class="icon-windows"></i>
                <span>Register</span>
            </a>
        </li>
    }
</ul>
