@model Uppgift2BankApp.ViewModels.TransactionRowViewModel

@{
    Layout = null;
}


    <tr>
        <td>@Model.Date</td>
        <td>@Model.Type</td>
        <td>@Model.Operation</td>
        <td>@Model.Amount</td>

    </tr>