@model Uppgift2BankApp.ViewModels.TransactionTransferViewModel

@{
    ViewData["Title"] = "Ny överföring";
}

<div class="page-content">
    <div class="page-header">
        <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">@ViewData["Title"]</h2>
        </div>
    </div>

    <section>
        <div class="container-fluid">
            <form method="post" asp-controller="Transaction" asp-action="Transfer">
                <input type="hidden" asp-for="AccountId"/>
                <input type="hidden" asp-for="Date"/>

                <div class="form-group">
                    <label class="form-control-label" asp-for="Amount">Summa:</label>
                    <input class="form-control" asp-for="Amount">
                    <span asp-validation-for="Amount" class="text-danger validation-summary-errors"></span>
                </div>

                <div class="form-group">
                    <label class="form-control-label" asp-for="Bank">Till bank:</label>
                    <input class="form-control" asp-for="Bank">
                    <span asp-validation-for="Bank" class="text-danger validation-summary-errors"></span>
                </div>

                <div class="form-group">
                    <label class="form-control-label" asp-for="Account">Till kontonr:</label>
                    <input class="form-control" asp-for="Account">
                    <span asp-validation-for="Account" class="text-danger validation-summary-errors"></span>
                </div>

                <button type="submit" class="btn btn-primary">Bekräfta</button>
            </form>
        </div>
    </section>
</div>