@model Uppgift2BankApp.ViewModels.HomeIndexViewModel

@{
    ViewData["Title"] = "Hem";
}

<div class="page-content">
    <div class="page-header">
        <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">Dashboard</h2>
        </div>
    </div>
    <section class="no-padding-top no-padding-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="statistic-block block">
                        <div class="progress-details d-flex align-items-end justify-content-between">
                            <div class="title">
                                <div class="icon">
                                    <i class="icon-user-1"></i>
                                </div>
                                <strong>Antal kunder</strong>
                            </div>
                            <div class="number dashtext-1">@Model.CustomerCount</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="statistic-block block">
                        <div class="progress-details d-flex align-items-end justify-content-between">
                            <div class="title">
                                <div class="icon">
                                    <i class="icon-contract"></i>
                                </div>
                                <strong>Antal konton</strong>
                            </div>
                            <div class="number dashtext-2">@Model.AccountCount</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="statistic-block block">
                        <div class="progress-details d-flex align-items-end justify-content-between">
                            <div class="title">
                                <div class="icon">
                                    <i class="icon-paper-and-pencil"></i>
                                </div>
                                <strong>Totalsaldo</strong>
                            </div>
                            <div class="number dashtext-3">@Model.TotalBalance SEK</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>