@{
    ViewData["Title"] = "Hem";
}

<div class="page-content">
    <div class="page-header">
        <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">@ViewData["Title"]</h2>
        </div>
    </div>
    
    <section>
        <div class="container-fluid">

        </div>
    </section>
</div>