@model Uppgift2BankApp.ViewModels.CustomerSearchByCustomerIdViewModel

@{
    ViewData["Title"] = "Mata in kundnummer";
}

<div class="page-content">
    <div class="page-header">
        <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">Mata in kundnummer</h2>
        </div>
    </div>
    <section class="no-padding-top no-padding-bottom">
        <div class="container-fluid">
            <form asp-controller="Customer" asp-action="SearchByCustomerId" method="post">
                <input type="text" asp-for="CustomerId"/>
                <button type="submit">Sök</button>
            </form>
        </div>
    </section>
</div>